/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require css/bootstrap.min
 *= require css/font-awesome
 *= require css/fullpage.min
 *= require css/owl.carousel
 *= require css/animate
 *= require css/templatemo-style
 *= require css/responsive
 *
 *= require_tree .
 *= require_self
 */

/*@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900');*/

iframe.iframe-embed {
  border-radius: 0.75rem !important;
  box-shadow: rgb(0 0 0) 0px 5px 15px;
}

.btn-custom {
  background: none;
  color: #fff;
  text-align: center;
  line-height: 52px;
  padding: 0 35px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  border-color: #fff;
}

.btn-custom:hover,
.btn-custom:focus {
  color: #222;
  background: #fff;
}

.btn-custom:focus {
  box-shadow: none;
  outline: none;
  transition: all 0.4s ease;
}

.a-no-underline:hover {
  text-decoration: none;
}